<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!-- <bean id="birth" class="java.util.Date">
		<constructor-arg name="year" value="92"></constructor-arg>
		<constructor-arg name="month" value="10"></constructor-arg>
		<constructor-arg name="date" value="19"></constructor-arg>
	</bean> -->
    
    <bean id="birth" class="java.util.Date">
		<property name="year" value="92"></property>
		<property name="month" value="10"></property>
		<property name="date" value="19"></property>
	</bean>
    
	<bean id="dto" class="com.test03.UserDto">
		<constructor-arg value="이두영" />
		<property name="myDate" ref="birth" ></property>
	</bean>

	<bean id="service" class="com.test03.UserServiceImpl"></bean>

</beans>
